<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Pathfinder</title>
    
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./style.css" />

    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body class="flex flex-col items-center py-16 bg-gray-100">
    <main>
    <div class="title">
    <h1>Pathfinder!</h1>
    </div>
<!-- https://dribbble.com/shots/10128438-Tailwind-Exploration-Status-Filter -->
<h3>Type of Block</h3>

<div id = "selectorLabels">
  <ul id="typeOfBlock" class="filter-switch inline-flex items-center relative h-10 p-1 space-x-1 bg-gray-200 rounded-md font-semibold text-blue-600 my-4">

    <li class="filter-switch-item flex relative h-8 bg-gray-300x">

      <input type="radio" name="typeOfBlock" id="source" value="source" class="sr-only" checked>
      <label for="source" class="h-8 py-1 px-2 text-sm leading-6 text-green-600 hover:text-green-800 bg-white rounded shadow">
        Source
      </label>
      <div aria-hidden="true" class="filter-active"></div>
    </li>
    <li class="filter-switch-item flex relative h-8 bg-gray-300x">
      <input type="radio" name="typeOfBlock" id="dest" value="dest" class="sr-only">
      <label for="dest" class="h-8 py-1 px-2 text-sm leading-6 text-red-600 hover:text-red-800 bg-white rounded shadow">
        Destination
      </label>
    </li>
    <li class="filter-switch-item flex relative h-8 bg-gray-300x">
      <input type="radio" name="typeOfBlock" id="blocker" value="blocker" class="sr-only">
      <label for="blocker" class="h-8 py-1 px-2 text-sm leading-6 text-blue-600 hover:text-blue-800 bg-white rounded shadow">
        Blocker
      </label>
    </li>
  </ul>
</div>
    
    

      <button class="myButton" id="simulate">Simulate</button> <button class="myButton" id="reset">Reset</button> <h4 class = "results"></h4>
      <br/>
      <!--actual grid here-->
      <div class="container">
        <div class="grid"></div>
      </div>
    </main>
    <script src="index.js"></script>

    <script>
//create the grid
for (let i = 0; i <= 299; i++) {
  $(".grid").append('<div class="cell far" id="'+i+'"></div>')
}
//global constants
const element = document.querySelector('.grid')
const gridInfo = getComputedStyle(element)
const rowLength = gridInfo["grid-template-columns"].split(" ").length
// //console.log(rowLength)
const columnLength = gridInfo["grid-template-rows"].split(" ").length
// //console.log(columnLength)
var resetFlag = false

$(".cell").mouseover(function(){
  var r = document.querySelector(':root')
  var checkedBox = $( "input:checked" ).val();
  //console.log(checkedBox)
  if (checkedBox == "source") {
    r.style.setProperty('--bgColor',"green")
  }else if (checkedBox == "dest"){
    r.style.setProperty('--bgColor',"red")

  }else if (checkedBox == "blocker"){
    r.style.setProperty('--bgColor',"blue")

  }else{
    r.style.setProperty('--bgColor',"violet")

  }

  $(this).siblings().removeClass(["hover","next"])
  $(this).removeClass(["hover","next"])
  // //console.log($(this).siblings())
  // $(this).siblings().not($(this)).removeClass()
  $(this).addClass("hover")


  //top side logic
  var thisId = $(this).attr('id')
  if (thisId <rowLength){
    top=false
  }else{
    $("#"+(thisId-rowLength)).addClass("next")
  }
  //bottom side logic

  if ((thisId)>((rowLength*columnLength)-rowLength)){
    bot=false
  }else{
    $("#"+( rowLength+parseInt(thisId) )).addClass("next")
  }

  //left side logic
  if (thisId % rowLength == 0){

    left=false
  }else{
    var prev = $(this).prev().addClass("next")
  }
  //right side logic
  if ((parseInt(thisId)+1)%rowLength==0){
    right=false
  }else{
    var next = $(this).next().addClass("next")
  }

})

$(".grid").mouseleave(function(){
  $(this).children().removeClass(["hover","next"])
})

//code for clicking cells. WILL NEED FIXING IF WE CHANGE RADIO BUTTONS
$(".cell").click(function(){
  resetFlag = true
  $(".cell").html("")
  if ($("#blocker").is(":checked")){
    if ($(this).hasClass("source") || $(this).hasClass("dest")){
      // //console.log("source or dest already here!")
      //here we throw an alert saying you cant put blocker on the destination
    }else{
      $(this).siblings().removeClass("path")  
      $(this).removeClass("path") 
      if ($(this).hasClass("blocker")){
        $(this).removeClass("blocker")
      }else{
        $(this).addClass("blocker")
      }

  }}else if ($("#source").is(":checked")){
    if ($(this).hasClass("blocker") || $(this).hasClass("dest")){
        // //console.log("blocker or dest already here!")
        //here we throw an alert saying you cant put blocker on the destination
    }else{
    $(this).siblings().removeClass("path")  
    $(this).removeClass("path") 
    $(this).siblings().removeClass("source")
    $(this).addClass("source")

  }}else if ($("#dest").is(":checked")){
    if ($(this).hasClass("blocker") || $(this).hasClass("source")){
        // //console.log("source or blocker already here!")
        //here we throw an alert saying you cant put blocker on the destination
    }else{
    $(this).siblings().removeClass("path")  
    $(this).removeClass("path") 
    $(this).siblings().removeClass("dest")
    $(this).addClass("dest")
}}})


$("#reset").click(function(){
  $(".cell").removeClass(["blocker","source","dest","path","hover","next"])
  // $(".cell").removeClass("source")
  // $(".cell").removeClass("dest")
  // $(".cell").removeClass("path")
  // $(".cell").removeClass("hover")
  // $(".cell").removeClass("next")
  $(".cell").html("")
  $(".results").html("")
  resetFlag = true
})

function nextBlocksGrabber(varId){
  // const varId = $(cellObj).id
  var nextBlocks=[]
  var colNum=varId % rowLength
  var rowNum=Math.floor(varId / rowLength)

  if (rowNum != 0){
    //top
    nextBlocks.push($("#"+(varId-rowLength)).attr('id'))
  }

  if (rowNum < columnLength-1){
    //bot
    nextBlocks.push($("#"+(parseInt(varId)+rowLength)).attr('id'))
  }
  if (colNum != 0){
    //left
    nextBlocks.push($("#"+(parseInt(varId)-1)).attr('id'))
  }
  
  if (colNum != rowLength-1){
    //right
    nextBlocks.push($("#"+(parseInt(varId)+1)).attr('id'))
  }

  function NoBlockersAllowed(IdNumber){
    return (!($("#"+IdNumber).hasClass("blocker")) && !($("#"+IdNumber).hasClass("path")))
    }
    return nextBlocks.filter(NoBlockersAllowed)
}

function idToCoordinate(varId){
  var colNum=varId % rowLength
  var rowNum=Math.floor(varId / rowLength)
  return {"x":colNum,"y":rowNum}
}
function coordinateToId(coords){
  return (coords["y"]*30)+coords["x"]
}

function nextBlocksGrabber2(varId,usedQueue,queue){
    // const varId = $(cellObj).id
    var nextBlocks=[]
    var colNum=varId % rowLength
    var rowNum=Math.floor(varId / rowLength)
    //filter out invalid blocks, like on the sides of the grid
    if (rowNum != 0){
      //top
      nextBlocks.push($("#"+(varId-rowLength)).attr('id'))
    }

    if (rowNum < columnLength-1){
      //bot
      nextBlocks.push($("#"+(parseInt(varId)+rowLength)).attr('id'))
    }
    if (colNum != 0){
      //left
      nextBlocks.push($("#"+(parseInt(varId)-1)).attr('id'))
    }
    
    if (colNum != rowLength-1){
      //right
      nextBlocks.push($("#"+(parseInt(varId)+1)).attr('id'))
    }
  //filter out blocks that are blockers
  function NoBlockersAllowed(IdNumber){
    return (!($("#"+IdNumber).hasClass("blocker")) && !($("#"+IdNumber).hasClass("path")))
  }
  //filter out blocks that are in the usedqueue
  function NoUsedAllowed(IdNumber){
    let coord = idToCoordinate(IdNumber)
      return (usedQueue.filter(e=>e.x===idToCoordinate(IdNumber).x && e.y===idToCoordinate(IdNumber).y).length==0)
  }
  //filter out blocks that are in the current queue. 
  function NoCurrentsAllowed(IdNumber){
    let coord = idToCoordinate(IdNumber)
      return (queue.filter(e=>e.x===idToCoordinate(IdNumber).x && e.y===idToCoordinate(IdNumber).y).length==0)
  }

  var filter1 = nextBlocks.filter(NoBlockersAllowed)
  //console.log("filter1")
  //console.log(filter1)
  var filter2 = filter1.filter(NoUsedAllowed)
  //console.log("filter2")
  //console.log(filter2)
  var filter3 = filter2.filter(NoCurrentsAllowed)
  //console.log("filter3")
  //console.log(filter3)
    return filter3
}
//console.log($(".dest"))

$("#simulate").click(function(){
  $(".results").html("")
  $(".cell").html("")
  resetFlag = false
  if ($(".cell").hasClass("dest") && $(".cell").hasClass("source")){
    $(".cell").siblings().removeClass(["path"])
    var successFlag = true
    //get list of blockers
    var listOfBlockers=[]
    $('.blocker').each(function(){
      listOfBlockers.push($(this).attr('id'))
    })
    // //console.log(listOfBlockers)
    const listOfBlockerCoords = listOfBlockers.map(idToCoordinate)
    // //console.log(listOfBlockerCoords)

    //get start and end coordinates
    const startId = $(".source").attr('id')
    const startCoordinates=idToCoordinate(startId)
    // //console.log(startCoordinates)

    const endId = $(".dest").attr('id')
    const endCoordinates=idToCoordinate(endId)
    // //console.log(endCoordinates)

    //start at start, make a queue, add it to queue, pop it, use the value to determine the values of other legal points
    var queue = []
    var usedQueue=[]
    queue.push(startCoordinates)
    var goFlag = true
    var i = 0
    //starting at start coordinates
    // while (i<=10000) {
    while (goFlag == true && i < 10000) {
      //take first item from queue
    //pop the current value off the queue
      var currentVal = queue.shift()
      //add a counter to the value.
      try{
      currentVal["c"]=i
      
      }catch(err){
        //console.log("no path found")
        $(".results").html("No Path Found")
        //console.log(err)
        successFlag = false
        break
      }
      
      //throw item into the used queue
      usedQueue.push(currentVal)
      //get the next blocks IDs and coordinates
      var nextBlocksIds = nextBlocksGrabber2(coordinateToId(currentVal),usedQueue,queue)
      //console.log("nextBlocksIds")
      //console.log(nextBlocksIds)
      //console.log("Current queue")
      //console.log(queue)
      // //console.log(nextBlocksIds)
      var nextBlocksCoords = nextBlocksIds.map(idToCoordinate)
      //console.log(nextBlocksCoords)
      //get the next blocks coordinates and put em on the queue
      nextBlocksCoords.forEach(function(block){
        if (usedQueue.filter(e=>e.x===block.x && e.y===block.y).length>0){
          //console.log("already taken")
        }else{
        queue.push(block)}
      })
      //console.log(nextBlocksCoords)
      //console.log(endCoordinates)
      //console.log(nextBlocksCoords.filter(e=>e.x===endCoordinates.x && e.y===endCoordinates.y).length)
      //if we find the end coordinates in the nextBlocksCoords then we found the end and we can stop. 
      if (nextBlocksCoords.filter(e=>e.x===endCoordinates.x && e.y===endCoordinates.y).length>0){
        // //console.log("found")
        goFlag = false
        // //console.log(usedQueue)
      }
      i+=1
    }
    if (successFlag ){
    //we have a list of the stuff, see if we can get the minimum value from the thing?
    var goFlag2 = true
    currentVal = endCoordinates
    var finalPathObj=[]
    while (goFlag2 == true){
      //iterate through list of visited blocks and find the minimum value
      var nextUsedValues=[]
      var nextBs = nextBlocksGrabber(coordinateToId(currentVal))
      var nextBsCoords=[]
      // //console.log(nextBs)
      nextBs.forEach(function(Bs){
        var nextBCoords=idToCoordinate(Bs)
        //console.log(nextBCoords)
        nextBsCoords.push(nextBCoords)
        // //console.log(nextBsCoords)
        // //console.log(usedQueue.filter(e=>e.x===nextBCoords.x && e.y===nextBCoords.y))
        if (usedQueue.filter(e=>e.x===nextBCoords.x && e.y===nextBCoords.y).length>0){
          nextUsedValues.push(usedQueue.filter(e=>e.x===nextBCoords.x && e.y===nextBCoords.y))
          // //console.log(usedQueue.filter(e=>e.x===nextBCoords.x && e.y===nextBCoords.y))
        }

      
      })
      var flatnextUsedValues= nextUsedValues.flat()
      // //console.log(flatnextUsedValues)
      var min = Math.min(...flatnextUsedValues.map(item => item.c))
      // //console.log(min)
      var minItem= flatnextUsedValues.filter(e=>e.c == min)[0]
      // //console.log(minItem)
      finalPathObj.push(coordinateToId(minItem))
      currentVal = minItem
      if (currentVal == startCoordinates){
      goFlag2=false}
    }
    finalPathObj.pop(finalPathObj.length-1 )
    //console.log(finalPathObj)
    //console.log(finalPathObj.length);

    //iterate through slowly so we get a nice path to appear
    // for (var i = 1; i <= finalPathObj.length; i++) {
    //   let idString = "#"+finalPathObj[finalPathObj.length - i].toString()
    //   //console.log(finalPathObj.length)
    //   setTimeout(function(){
    //     $(idString).addClass("path")
    //     },1000)
    var pathNumber = 0;
    (function myLoop(i) {
    setTimeout(function() {
      if (resetFlag){}else{
        pathNumber+=1
      let idString = "#"+finalPathObj[i].toString()
      $(idString).addClass("path");
      $(idString).html(pathNumber.toString()) //  your code here                
      if (--i>=0 ) myLoop(i);   //  decrement i and call myLoop again if i > 0
    }}, 50)
    })(finalPathObj.length-1);
    successFlag = true

    // finalPathObj.map(function(e){
    //   $("#"+e).addClass("path")
    //   successFlag = true
    // })

    
    if (successFlag){
      //TODO: GET THIS COUNT OF PATH CELLS TO WORK!
      // var pathCount = $(".cell").filter(function(e){
      //   return $(e).hasClass("path")
      // })
      //console.log("path found")
      //console.log(finalPathObj.length)
      var pathCount = finalPathObj.length
      $(".results").html("Results: Path found in "+ pathCount.toString() +" steps!")
    }

  }}else{
    alert("Please enter a Destination and Source")
  }

})
    </script>
  </body>
</html>
