:root {
  --bgColor: violet;
  --gridHeight: 10;
  --gridLength: 30;
}
#speedRange{
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  color: blue
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    width: 80px;
    -webkit-appearance: none;
    background-color: #fd7272;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #64e68b;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #000000;
    box-shadow: -80px 0 0 80px #64e68b;
  }

}

#grad {
  background-image: linear-gradient(to bottom right, lightblue, white);
}

.vl {
  border-left: 6px solid  #fd7272;
  height: 500px;
}

h1{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 27px;
  letter-spacing: 5px;
  word-spacing: 4.2px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  
}
.filter-switch label {
  cursor: pointer;
}
.filter-switch-item input:checked + label {
  /* color: inherit; */
}
.filter-switch-item input:not(:checked) + label {
  --bg-opacity: 0;
  box-shadow: none;
}

.container {
    /* background: black;
    display: inline-block;
    /* border: 3px solid black; */

    max-width: none;
    max-height: none;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(var(--gridLength), 50px);
    grid-template-rows: repeat(var(--gridHeight), 50px);
    grid-gap: 3spx;
    max-width: none;
    max-height: none;
  }
  .cell {
     /* center the cell content */
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial;
    font-size: 1.5rem;
    font-weight: bold;
    background: aliceblue;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    padding: 10px;
    border: 1px solid black;
    -webkit-box-shadow: 9px 9px 10px 0px rgba(0,0,0,0.39); 
    box-shadow: 9px 9px 10px 0px rgba(0,0,0,0.39);
  }

  .cell.next{
    background:rgb(128, 193, 214);
  }
  .cell.source{
    height: 50px;
  width: 50px;
  background-color: #64e68b;
  border-radius: 50%;
  display: inline-block;
  }

  .cell.dest{
    background-color:  #fd7272;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    
  }
  .cell.path{
    background: rgb(199, 255, 199)
  }

  .far{
    background: aliceblue;
  }
  .cell.blocker{

    background-color: rgb(61, 61, 255);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
  }

  .cell.hover {
    background: var(--bgColor)
  }

  
  .myButton {
    color: rgb(255, 255, 255); font-size: 15px; line-height: 15px; padding: 9px; border-radius: 29px; font-family: Verdana, Geneva, sans-serif; font-weight: 700; text-decoration: none solid rgb(68, 68, 68); font-style: normal; font-variant: small-caps; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 0%, rgb(20, 78, 117) 100%); box-shadow: rgba(0, 0, 0, 0.39) 9px 9px 10px 0px; border: 6px solid rgb(28, 110, 164); display: inline-block;}
    .myButton:hover {
    background: #1C6EA4; }
    .myButton:active {
    background: #144E75; }
  /* .clicker { 
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #f5f5f5; 
    padding: 20px;
}

.clicker:hover { 
    background: #eee;
} */